
.vs/
*.suo
*.ide
*.ide-shm
*.ide-wal
*.exe
*.pdb
obj/x86/Debug/CameraController.exe
*.pdb
*.cache
*.ide
*.ide-shm
*.ide-wal
*.cache
.vs/CameraController/v15/.suo
.vs/CameraController/v15/.suo
.vs/CameraController/v15/Server/sqlite3/storage.ide
.vs/CameraController/v15/Server/sqlite3/storage.ide-shm
.vs/CameraController/v15/Server/sqlite3/storage.ide-wal
bin/x86/Debug/CameraController.exe
bin/x86/Debug/CameraController.pdb
obj/x86/Debug/CameraController.exe
obj/x86/Debug/CameraController.pdb
.vs/CameraController/v15/.suo
